.filter {
  display: flex;
  justify-content: center;
  background-color: $background-color;
  width: min-content;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;

  &__form {
    min-width: 300px;
    width: 80vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .input__button {
      width: 3rem;
      height: 1rem;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 0.2rem;
      margin: 0rem 1rem;
    }
  }
  &__label {
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
}
