@import "./variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
}
.app {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 3rem auto 2rem;
  background-color: $background-color;
}
section {
  width: 100vw;
  background-position: center;
  background-size: cover;
}
a {
  color: inherit;
  text-decoration: inherit;
}
nav {
}
main {
}
footer {
  margin: 0 auto;
  align-self: self-end;
  font-size: 0.7rem;
  padding: 0.5rem;
}
