//SCREEN SIZES
$min-phone: 320px;
$min-tablet: 600px;
$min-laptop: 900px;
$min-large: 1200px;
$min-giant: 1800px;
$min-great: 2200px;

//COLORS
$primary-color: #dc717b;
$secondary-color: #ffbb56; //#ffd686;
$color-gray: #607d8b;
$color-dark-gray: #40535d;

$small-slate-color: #fffbf8;
$background-color: #faebd7;
$teal: #00bcd4;
$faded-red: #c3aaaa;

$dark--text__color: rgb(112, 112, 112);
$h1--color: rgb(95, 84, 87);

$light--text__color: #eadad5;

//SHADE
$dark--shade: rgba(23, 30, 46, 0.4);
$dark--red__color: #734949;
