.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}
