.edit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 1.4rem;
  background-color: $small-slate-color;
  padding: 0.2rem;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  &:hover {
    background-color: #dc717b73;
  }
  &:active {
    background-color: $primary-color;
  }
}
.quit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icon--button {
  background-color: transparent;
  border: none;
  display: inline;
  cursor: pointer;
}
