//for Safari
button {
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
}
.button {
  min-height: 2rem;
  min-width: 5rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: $border-radius;
  background-color: $primary-color;
  cursor: pointer;
  &:hover {
    background-color: $hot-pink;
    color: white;
    transition: background-color 1s;
  }
  &:active {
    transform: translateX(3px) translateY(3px);
  }
}
.edit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 1.4rem;
  background-color: $small-slate-color;
  padding: 0.2rem;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  &:hover {
    background-color: #dc717b73;
  }
  &:active {
    background-color: $primary-color;
  }
}
.delete {
  @extend .edit;
  top: 0.2rem;
  height: 1.5rem;
  &:hover {
    background-color: $primary-color;
  }
}
.quit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 2rem;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.settings__button {
  cursor: pointer;
  border: 2px solid $primary-color;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: #fff7ed;
  font-size: 1rem;
  &:hover {
    background-color: $primary-color;
  }
  &:active {
  }
}
.like {
  @extend .delete;
}
.liked {
  @extend .like;
  background-color: $primary-color;
}
.follow {
  @extend .like;
  &:hover {
    background-color: #ffe256;
  }
}
.followed {
  @extend .like;
  background-color: #ffe256;
}
.icon--button {
  background-color: transparent;
  border: none;
  display: inline;
  cursor: pointer;
}
.view {
  padding: 0px;
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 2rem;
  height: 1.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &__img {
    &:hover {
      filter: invert(100%);
    }
  }
}
.location-icon {
}
