.edit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  &:hover {
    background-color: #dc717b73;
  }
  &:active {
    background-color: $primary-color;
  }
}
.quit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
