.slate {
  margin: 1rem;
  padding: 1rem;
  background-color: $background-color;
  box-shadow: 2px 4px 7px 0px #d8ccbb;
}
.small-slate {
  padding: 0.5rem;
  background-color: #fffbf8;
  box-shadow: 1px 1px 2px #d6d5d5;
}
.pet-slate {
  box-shadow: 3px 3px 5px #d6d5d5;
  background-color: #607d8b12;
}
.edit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10%;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    border: 1px outset gray;
  }
  &:active {
    border: 1px inset gray;
  }
}
