.slate {
  margin: 1rem;
  padding: 1rem;
  background-color: $background-color;
  box-shadow: 2px 4px 7px 0px #d8ccbb;
  border-radius: $border-radius;
  overflow: hidden;
}
.small-slate {
  padding: 0.5rem;
  background-color: $small-slate-color;
  box-shadow: 1px 1px 2px #d6d5d5;
  border-radius: $border-radius;
  overflow: hidden;
}
.pet-slate {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 5px #d6d5d5;
  background-color: #f7f4f4; //#efecec;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
  min-height: 15rem;
}

.post-slate {
  margin-bottom: 0.5rem;
  padding: 1rem;
  background-color: $small-slate-color;
  box-shadow: 1px 1px 2px #d6d5d5;
  border-radius: $border-radius;
  overflow: hidden;
}
.comment-slate {
  position: relative;
  margin: 0.5rem auto;
  padding: 0.5rem;
  padding-bottom: 0.2rem;
  box-shadow: 3px 3px 5px #d8ccbb;
  background-color: #f7f4f4; //#efecec;
  border-radius: $border-radius;
  overflow: hidden;
  font-size: 0.7rem;
  max-width: 30rem;
}
.user-slate {
  height: 10rem;
  box-shadow: 3px 3px 5px #d6d5d5;
  background-color: #f7f4f4; //#efecec;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  &__bolded {
    height: 2rem;
    background-color: $primary-color;
    padding: 0.2rem 0.5rem;
    color: white;
  }
  &__name {
    cursor: pointer;
  }
}
.modal-slate {
  display: flex;
  flex-direction: column;
  position: relative;
  position: relative;
  max-height: 100vh;
  overflow: scroll;
  background-color: $background-color;
  min-height: 40vh;
  min-width: 40vw;
  box-shadow: 3px 5px 11px 0px rgba(23, 23, 23, 0.88);
  border-radius: $border-radius;
  &__title {
    padding: 0.5rem;
    background-color: $primary-color;
    color: white;
    font-weight: 900;
    width: 100%;
  }
}
