.dashboard {
  display: grid;
  grid-template-areas:
    "posts new-post"
    "posts recommended"
    "posts recommended";
  grid-gap: 2rem;
  padding: 1rem;
  background-color: white;
  .new-post {
    display: flex;
    flex-direction: column;
    overflow: visible;
  }
  .posts {
    grid-area: posts;
  }
  .new-post {
    grid-area: new-post;
  }
  .recommended {
    grid-area: recommended;
  }
}
