.user {
  margin-right: 1rem;
  &__image {
    position: relative;
    margin-bottom: 0.5rem;
    padding: 1rem 0.5rem;
    img {
      width: 100%;
    }
    .icon {
      width: 1rem;
      cursor: pointer;
    }
    .user__location {
      font-size: 0.6rem;
      font-weight: 200;
    }
  }
  &__bio {
    position: relative;
    font-size: 0.6rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    padding: 1rem 0.5rem 1.5rem 0.5rem;
  }
  &__name {
    font-size: 0.8rem;
    color: $primary-color;
  }
}

.user-pets {
  display: flex;
  flex-direction: column;
  padding: 0rem;
  &__title {
    text-align: center;
    color: whitesmoke;
    background-color: $primary-color;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  .pets {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.5rem;
    @media (min-width: 750px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 900px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
.posts {
  grid-column: 2;
}
