.search {
  background-color: white;
  padding: 2rem;
  .title {
    color: $primary-color;
    font-size: 2rem;
  }
  &__search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    .form {
      box-shadow: none;
      flex-direction: row;
      min-width: 600px;
      justify-content: space-between;
      label {
        font-size: 1.2rem;
        align-self: center;
      }
      #location {
        min-width: 40vw;
        margin: 0rem 1rem;
      }
      .input__button {
        background-color: $primary-color;
        color: white;
        width: 6rem;
      }
    }
  }
  &__results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
