.pet {
  background-color: aliceblue;
  margin: 0.5rem;
  font-size: 0.7rem;
  line-height: 1rem;
  &__bolded {
    background-color: $primary-color;
    color: whitesmoke;
    padding: 0.5rem;
    box-shadow: 1px 1px $primary-color;
    position: relative;
    .edit {
      background-color: transparent;
      &:hover {
        background-color: whitesmoke;
      }
    }
  }
  &__image {
    height: 5rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
  }
  &__name {
    font-size: 0.8rem;
    color: aliceblue;
  }
  &__description {
    padding: 0.5rem;
    font-size: 0.6rem;
  }
  .add-pet {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: contain;
    &__text {
      margin: 1.5rem 0.5rem;
      font-size: 1rem;
      text-align: center;
      color: #40535d;
    }
  }
}
