.pet {
  background-color: aliceblue;
  margin: 0.5rem;
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 1rem;
  &__bolded {
    background-color: $primary-color;
    color: whitesmoke;
    margin: 0rem -1rem;
    padding: 0.5rem 1rem;
    box-shadow: 1px 1px $primary-color;
    position: relative;
    .edit {
      background-color: transparent;
      &:hover {
        background-color: whitesmoke;
      }
    }
  }
  &__image {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    &:hover {
      background-color: black;
    }
  }
  &__name {
    font-size: 0.8rem;
    color: aliceblue;
  }
  &__species {
  }
  &__age {
  }
  &__description {
    margin-top: 1rem;
    font-size: 0.6rem;
  }
}
.add-pet {
  cursor: pointer;
}
