.post {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 1rem;
  }
  &__date {
    font-size: 0.6rem;
  }
  &__image {
    max-width: 100%;
    max-height: 15rem;
    object-fit: contain;
    margin: 0.5rem;
  }
  &__text {
    font-size: 0.9rem;
  }
  &__author {
    font-size: 0.7rem;
    text-align: right;
  }
}
