.post {
  padding: 1rem;
  position: relative;
  &__title {
    font-size: 1rem;
  }
  &__date {
    font-size: 0.6rem;
  }
  &__image {
    max-width: 100%;
  }
  &__text {
    font-size: 0.9rem;
  }
  &__author {
    font-size: 0.7rem;
    text-align: right;
  }
}
