.new-post {
  padding: 1rem;
  .input {
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    margin: 0.5rem 0rem;
    padding: 0 0.5rem;
  }
  .label {
    color: grey;
    margin: 0 auto;
    cursor: pointer;
  }
  &__title {
    font-size: 1rem;
  }
  &__text {
    font-size: 0.9rem;
    min-height: 10rem;
    min-width: 10rem;
  }
  &__picture {
    width: 2rem;
    &-input {
      display: none;
    }
    &-text {
      font-size: 0.8rem;
      color: $primary-color;
    }
  }
  .input__button {
    background-color: $primary-color;
    color: white;
    height: 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: $border-radius;
    cursor: pointer;
    &:hover {
      background-color: $hot-pink;
      color: white;
      transition: background-color 1s;
    }
    &:active {
      transform: translateX(3px) translateY(3px);
    }
  }
}
