.modal {
  display: block;
  position: relative;
  max-height: 100vh;
  overflow: scroll;
  background-color: $background-color;
  min-height: 20vh;
  min-width: 30vw;
  box-shadow: 3px 5px 11px 0px rgba(23, 23, 23, 0.88);
  text-align: center;

  &__title {
    font-size: 1rem;
  }
  &__text {
    margin-bottom: 1rem;
  }
  &__button {
    margin: 0.5rem;
    width: 30%;
    min-width: 5rem;
  }
  .cancel {
    background-color: #40535d;
    color: whitesmoke;
  }
  .yes {
    border: 1px solid #40535d;
    color: #40535d;
    &:hover {
      border: 1px solid #d4305e;
    }
  }
}
