.profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding: 1rem;
  background-color: white;
  @media (min-width: 500px) {
    grid-template-columns: 40% 60%;
  }
  @media (min-width: 750px) {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 3rem;
  }
}
