.sign-in {
  @extend .sign-up;
  form {
    background-color: $color-gray;
  }
  .form__text {
    color: $secondary-color;
    &:hover {
      color: $primary-color;
    }
  }
  .input__button {
    background-color: $primary-color;
    &:hover {
      background-color: $color-dark-gray;
    }
  }
}
